{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Can't remember password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mx-auto">
            <form action="." method="post">
                {% csrf_token %}

                <!-- All hidden fields -->
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                
                <!-- Alert component for the non field errors -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Render form fields -->
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        
                        <!-- Filled form - POST request -->
                        {% if form.is_bound %}
                            <!-- Alert component for field errors -->
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            <!-- Initial form - GET request -->
                            {% render_field field class="form-control" %}
                        {% endif %}
                        
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe|escape }}</small>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Send e-mail</button>
            </form>

        </div>
    </div>
{% endblock %}